<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Home</title>
</head>
<body>
<div th:replace="~{layout :: sidebar}"></div>

<div layout:fragment="content">
    <h1>Aktualny stan magazynowy</h1>
    <div class="search-container">
        <form th:action="@{/home}" method="get">
            <input type="text" name="search" placeholder="Szukaj telefonu...">
            <button type="submit">Szukaj</button>
        </form>
    </div>
    <table class="devices-list">
        <thead>
        <tr>
            <th>Model</th>
            <th>Ilość</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="device : ${devices}" th:object="${device}">
            <td th:text="|*{manufacturer} *{model} *{ram}/*{rom} *{color} *{spec}|"></td>
            <td th:text="|*{quantity}|"></td>
        </tr>
        </tbody>
    </table>

    <table class="device-history">
        <thead>
        <th></th>
        </thead>
    </table>
</div>
</body>
</html>
